<h1>Courses</h1>
<h2><a href="courses/create">Create new Course</a></h2>
<table class="table" id = "course_overview">
    <tr>
        <th>S.</th>
        <th>Code</th>
        <th>Modulbezeichnung</th>
        <th>Art</th>
        <th>Form</th>
        <th>LP</th>
    </tr>

    <% courses.forEach(course => { %>
    <tr onclick = "location.href='courses/<%= course._id%>'">
        <td><%= course.semester %></td>
        <td><%= course.code %></td>
        <td><%= course.name %></td>
        <td><%= course.required %></td>
        <td><%= course.methods %></td>
        <td><%= course.ects %></td>
    </tr>

    <% }); // courses.forEach  %>
</table>
