<h1>Student's View</h1>
<table class="table">
    <tr>
        <th>S.</th>
        <th>Code</th>
        <th>Modulbezeichnung</th>

        <th>Art</th>
        <th>Form</th>
        <th>LP</th>
        <th>Semester</th>
        <th>Status</th>
    </tr>

    <%
    const state_class = {
        "none": "light",
        "passed": "success",
        "enrolled": "warning",
        "planned": "info"
    };
    modules.forEach(module => {
        const status = studentProgress.find(sp => {
            return sp.code == module.code
        }) || defaultStatus;
    %>
    <tr class="table-<%= state_class[status.status] %>">
        <td><%= module.semester %></td>
        <td><%= module.code %></td>
        <td><%= module.name %></td>
        <td><%= module.required %></td>
        <td><%= module.methods %></td>
        <td><%= module.ects %></td>
        <td><%= status.semester %></td>
        <td><%= status.status %></td>
    </tr>

    <% }); // courses.forEach  %>


</table>
