<h1>Authorization Playground</h1>


<p>Action: <%= action %></p>
<p>User: <%= user %></p>
<p>url: <%= url %></p>

<p>Session ID:  <%= sessionID %></p>
<p>
    <% authorizationPlaygroundLinks.forEach( route => { %>
        <a href="/authorizationPlayground/<%= route %>"><%= route %></a> |
    <% }) %>
            <a href="/info">App Info in Json</a>
</p>