<h1>Study LogBook</h1>
<div class="center">
    <a class="button" href="<%=`/users/${user._id}/log_entries/new`%>">
        New Entry
    </a>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Course</th>
        <th>Semester</th>
        <th>Event</th>
        <th>Date</th>
        <th>Notes</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% user.logBook.forEach(logEntry => { %>
    <tr class="<%= classForState(logEntry.event) %>">
        <td><%= logEntry.course %></td>
        <td><%= logEntry.semester %></td>
        <td><%= logEntry.event %></td>
        <td><%= dateViewFormat(logEntry.date)%></td>
        <td><%= logEntry.notes %></td>
        <td><a href="<%= `/users/${user.id}/log_entries/${logEntry.id}/edit`%>">Edit</a></td>
        <td><a href="<%= `/users/${user._id}/log_entries/${logEntry.id}?_method=DELETE` %>"  onclick="return confirm('Are you sure you want to delete this log entry?')" >Delete</a></td>
    </tr>
    <% }) %>

    </tbody>
</table>

<br>