<h2>New Log Entry for <%= user.fullName%>'s Study LogBook</h2>
<form action = "<%= `/users/${user.id}/log_entries`%>" method="POST">
  <input type = "hidden" name = "userId" value ="<%= user.id %>" />
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCourse">Course</label>
      <select name = "course" id="inputCourse" class="form-control">
        <option selected>Choose Course...</option>

        <% courses.forEach(course => { if (course !== null)  %>
          <option value = "<%= course.code %>"><%= course.fullName %></option>
        <% }) %>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputEvent">Semester</label>
      <input class = "form-control", type="number" min="1" id="semester" name ="semester" />
    </div>
    <div class="form-group col-md-2">
      <label for="inputEvent">Event</label>
      <select id="inputEvent" name="event" class="form-control">
        <% eventValues.forEach(event => {  %>
        <option><%= event %></option>
        <% })%>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Date</label>
      <input name = "date" type="date" class="form-control" id="inputDate" value = "2020-05-21">
    </div>
  </div>


  <div class="form-group">
    <label for="inputNotes">Notes</label>
    <textarea name = "notes" rows = "5" class="form-control" id="inputNotes" placeholder="My notes..."></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Create LogEntry</button>
</form>
